@import 'scss/includes/index.scss';

.NKInput {
  width: 100%;
  input {
    @include no-select();
    border: 1px solid $off-white;
    height: 65px;
    width: 100%;
    padding: 20px;
    font-size: 24px;
  }
}