$light-grey: #d8ddef; //rgba(216, 221, 239, 100)
$dark-grey: #a0a4b8; //rgba(160, 164, 184, 100)
$navy: #7293a0; //rgba(114, 147, 160, 100)
$dark-green: #45b69c; //rgba(69, 182, 156, 100)
$green: #21d19f; //rgba(33, 209, 159, 100)
$off-white: #F5F5F5;